*{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

img {
    width: 100%;
}

a{
    text-decoration: none
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    /* border: 1px solid darkmagenta; */
    display: grid;
    grid-template-areas: 
        'header header header'
        'gallery-img3 gallery-img2 gallery-img1'
        'box-1 box-1 box-2'
        'gallery-pic1 gallery-pic2 gallery-pic2'
        'footer footer footer';
}

header {
    /* border: 1px solid green; */
    grid-area: header;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    background-color: #ff0000;
}

header .logo {
    /* background-color: green; */
    /* display: flex; */
    /* align-items: center; */
    width: 90px;
    margin: 16px;
}

header .nav {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

header .nav li {
    margin-left: 32px;
}

header .nav a {
    color: #fff;
    font-weight: bold;
}

/* .gallery-img { */
    /* border:1px solid orangered; */
    /* grid-area: gallery-img; */
/* } */

.gallery-img1 {
    grid-area: gallery-img1;
    width: 360px;
    /* border: 1px solid orange; */
    padding: 0 16px;
}

.gallery-img2 {
    grid-area: gallery-img2;
    width: 360px;
    /* border: 1px solid blue; */
    padding: 0 16px;
}


.gallery-img3 {
    grid-area: gallery-img3;
    width: 360px;
    /* border: 1px solid brown; */
    padding: 0 16px;
}


/* .boxes {
    border: 1px solid purple;
} */
.box-1 {
    /* border: 1px solid purple; */
    grid-area: box-1;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    padding-left: 16px;
    background-color: #ff0000;
    color: #fff;
    text-align: center;
}
.box-2 {
    /* border: 1px solid purple; */
    grid-area:box-2;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    padding-left: 16px;
    background-color: #0000ff;
    color: #fff;
    text-align: center;
}

.button {
    margin: 10px;
    padding: 10px;
}

.gallery-pic1 {
    /* border: 1px solid blue; */
    grid-area: gallery-pic1;
    width: 320px;
    margin: 32px;
    padding: 0 20px;
}
.gallery-pic2 {
    /* border: 1px solid blue; */
    grid-area: gallery-pic2;
    margin: 32px;
    width: 320px;
    /* align-self: center; */
    justify-self: center;
}

.footer {
    /* border: 1px solid green; */
    grid-area: footer;
    padding: 32px;
    text-align:center;
    background-color: #ff0000;
    color: #fff;
}